.tab-page {
    width: 1170px;
    margin: 100px auto 0;
    display: flex;
}

.container-tab {
    width: 700px;
}

.tab {
    width: 700px;
    height: 40px;
    display: flex;
}

.tab__one {
    width: 201px;
    height: 40px;
    border-top: 1px solid #C6CBCD;
    border-left: 1px solid #C6CBCD;
    border-right: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.tab .tab__two {
    width: 184px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.tab .tab__three {
    width: 184px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
}

.tab .tab__four {
    width: 128px;
    height: 40px;
    border-bottom: 1px solid #C6CBCD;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
}

.text {
    width: 698px;
    height: 502px;
    display: inline-block;
    border-left: 1px solid #C6CBCD;
    border-bottom: 1px solid #C6CBCD;
    vertical-align: top;
}

.text__title {
    width: 570px;
    height: 74px;
    margin: 50px 0 0 100px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    color: #000000;
}

.text__subtitle {
    width: 570px;
    height: 210px;
    margin: 50px 0 0 100px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.text__button {
    width: 270px;
    height: 43px;
    margin: 0 0 0 100px;
}

.text__button__download {
    width: 100%;
    height: 100%;
    border: none;
    background: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    cursor: pointer;
}

.image {
width: 470px;
height: 501px;
margin-top: 40px;
border-top: 1px solid #C6CBCD;
border-bottom: 1px solid #C6CBCD;
border-right: 1px solid #C6CBCD;
}

@media screen and (max-width: 1185px) {
    .image__foto {
        display: none;
    }
    .image {
        border-top: none;
        border-bottom: none;
        border-right: none;
        width: 0;
        height: 0;
        position: absolute;
        }
    .tab-page {
        width: 700px;
    }
    .container-tab {
        width: 100%;
        margin: 0 auto;
    }
    .container-tab .tab {
        width: 100%;
        margin: 0 auto;
    }
    .text {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-right: 1px solid #C6CBCD;
    }
    .tab {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .tab .tab__three {
        padding-right: auto;
    }
}

@media screen and (max-width: 700px) {
    .tab-page {
        width: 90%;
        margin: 100px auto 0;
    }
    .text {
        width: 100%;
        height: auto;
    }
    .text__title {
        width: 100%;
        height: auto;
        margin: 50px auto 20px;
        font-size: 18px;
        text-align: center;
    }
    .text__subtitle {
        width: 100%;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 15px;
        font-size: 13px;
        text-align: center;
    }
    .text__button {
        width: 242px;
        height: 50px;
        margin: 20px auto;
    }
}